<!-- $Id: password.html 11 2010-10-18 14:43:20Z jean $ -->
{namespace ni=Tx_NetExtbase_ViewHelpers}
<f:layout name="register" />
<f:section name="content">
	<div class="tx-cpguide-register-form">
		<h2>{user.firstname} {user.lastname} ({user.email})</h2>
		<ni:form name="feUser" method="post" controller="Register" action="passwordcreate" object="{feUser}" noCache="1" noCHash="1">
			<f:form.hidden name="username" property="username" value="{user.email}" />
			<f:if condition="{error}">
				<ul class="tx-cpguide-register-form-errors">
					<li>
						{error}
					</li>
				</ul>
			</f:if>
			<div class="tx-cpguide-register-form-group">
				<div class="tx-cpguide-register-form-field">
					<div class="tx-cpguide-register-form-field-label">
						<label for="text">{l10n.password} <span class="required">{l10n.required}</span>:</label>
					</div>
					<div class="tx-cpguide-register-form-field-input">
						<f:form.password id="password" property="password" />
					</div>
				</div>
				<div class="tx-cpguide-register-form-field">
					<div class="tx-cpguide-register-form-field-label">
						<label for="text">{l10n.password2} <span class="required">{l10n.required}</span>:</label>
					</div>
					<div class="tx-cpguide-register-form-field-input">
						<f:form.password id="password2" property="password2" />
					</div>
				</div>
			</div>
			<div class="tx-cpguide-register-form-submit">
				<f:form.submit class="submit" value="{l10n.registerPasswordSubmit}"/>
			</div>
		</ni:form>
	</div>
</f:section>
