<!-- $Id: register.html 2 2010-06-21 07:43:04Z macmade $ -->
<div class="tx-cpguide-register-steps">
	<ul class="tx-cpguide-register-step{step}">
		<li class="tx-cpguide-register-step1">
			<div>				
				<span class="tx-cpguide-register-step-number">
					I
				</span>
				{l10n.registerStep1}
			</div>
		</li>
		<li class="tx-cpguide-register-step2">
			<div>	
				<span class="tx-cpguide-register-step-number">
					II
				</span>
				{l10n.registerStep2}
			</div>
		</li>
		<li class="tx-cpguide-register-step3">
			<div>	
				<span class="tx-cpguide-register-step-number">
					III
				</span>
				{l10n.registerStep3}
			</div>
		</li>
		<li class="tx-cpguide-register-step4">
			<div>	
				<span class="tx-cpguide-register-step-number">
					IV
				</span>
				{l10n.registerStep4}
			</div>
		</li>
		<li class="tx-cpguide-register-step5">
			<div>	
				<span class="tx-cpguide-register-step-number">
					V
				</span>
				{l10n.registerStep5}
			</div>
		</li>
	</ul>
</div>
<f:render section="content" />
