/* <![CDATA[ */

.calendar * {
    font-size: 10px;
}

.calendar {
    position: relative;
    display: none;
    font-size: 10px;
    cursor: default;
    background-color: #EFEFEF;
    color: #333333;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    font-family: Verdana, Helvetica, Arial, Geneva, Swiss, SunSans-Regular, sans-serif;
}
.calendar TABLE {
    border-style: solid;
    border-width: 1px;
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    width: 200px;
}
.calendar .button {
    text-align: center;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    font-weight: bold;
}
.calendar thead .title {
    text-align: center;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    font-weight: bold;
}
.calendar thead .name {
    text-align: center;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
}
.calendar thead .weekend {
    color: #FF7E3C;
}
.calendar thead .hilite {
    background-color: #FF7E3C;
    color: #FFFFFF;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.calendar thead .active {
    background-color: #FF7E3C;
    color: #FFFFFF;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.calendar tbody .day {
    text-align: center;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
}
.calendar tbody td.weekend {
    color: #FF7E3C;
}
.calendar tbody td.today {
    font-weight: bold;
    color: #FF7E3C;
}
.calendar tbody .rowhilite td {
    background-color: #DDDDDD;
}
.calendar tbody td.hilite {
    background-color: #FF7E3C;
    color: #FFFFFF;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.calendar tbody td.active {
    background-color: #FF7E3C;
    color: #FFFFFF;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.calendar tbody td.selected {
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    font-weight: bold;
    text-decoration: blink;
}
.calendar tbody .emptycell {
    visibility: hidden;
}
.calendar tbody .emptyrow {
    display: none;
}
.calendar tfoot .ttip {
    text-align: center;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    font-weight: bold;
}
.calendar tfoot .hilite {
    background-color: #FF7E3C;
    color: #FFFFFF;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.calendar tfoot .active {
    background-color: #FF7E3C;
    color: #FFFFFF;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.calendar .combo {
    position: absolute;
    display: none;
    width: 4em;
    top: 0px;
    left: 0px;
    cursor: default;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    z-index: 100;
    background-color: #EFEFEF;
}
.calendar .combo .label, .calendar .combo .label-IEfix {
    border-style: solid;
    border-width: 1px;
    border-left-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
}
.calendar .combo .active {
    background-color: #FF7E3C;
    color: #FFFFFF;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.calendar .combo .hilite {
    background-color: #FF7E3C;
    color: #FFFFFF;
    border-left-color: #CCCCCC;
    border-top-color: #CCCCCC;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

/* ]]> */
